body {
  margin: 0px;
}
nav {
  background-color: white;
}
.App {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactForm {
  margin: 25px;
  display: flex;
  flex-direction: column;
}
.wrapperContainer {
  height: 90vh;
  width:  96vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orange;
}
.navbar {
  background-color: white;
  width: 100vw;
  display: flex;
  align-items: left;
  justify-content: space-between;
  height: 100px;  
}
.dropdown {
  display: flex;
  justify-content: space-between;
}
.footerContainer {
  background-color: yellow;
  width: 100vw;
  height: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
a:visited {
  text-decoration: none;
  color: red;
}
a:link {
  text-decoration: none;
  color: red;
}
